extends base

block content 
  main.main
    .new__post-container
      .new__post
        h2.heading-secondary.new__post-heading=`What's on your mind, ${user.name.split(' ')[0]} ?`
        form.form.new__post-form
          .form__group
            input.new__post-title.form__input(type='text',placeholder='Title', maxlength='100' ,required)
          .form__group
            input.new__post-body.form__input(type='text',placeholder='Body (optional)')
          button.btn.btn--small.new__post-btn Post

    .line &nbsp;

    .post-container

      each post in posts 
        .post
          .post__user 
            img.post__user--photo(src=`/images/users/${post.author.photo}`, alt="User photo")
            .post__user--name
              p= post.author.name
              span= post.postedAgo

          .post__content 
            h4.post__content--title= post.title
            p.post__content--body= post.body
          .post__likes 
            p.post__likes--qty 0 likes 
            a.post__comments--qty(href=`/post/${post.id}`)= `${post.commentsQuantity} Comments`
          .post__buttons 
            button.post__btn
              img(src="/images/icons/like.svg", alt="like")
              p Like
            a(href=`/post/${post.id}`).post__btn
                img(src="/images/icons/comment.svg", alt="comment")
                p Comment

