extends base

block content
  main.main
    .user__profile
      .user__profile-left
        img.user__profile-photo(src=`/images/users/${profile.photo}`, alt=`${profile.name} photo`)
        .user__profile-data 
          h2= profile.name
          p= `Joined on ${profile.createdAt.toLocaleString('en-us', { day:'numeric',month: 'short', year: 'numeric'})}`
      .user__profile-rigth
        - if(!user.friends.includes(profile.id) && user.id !== profile.id)
          button.add-friends
            img(src="/images/icons/add-friend.svg", alt="add as friend")
        - if(user.friends.includes(profile.id) && user.id !== profile.id)
          button.remove-friends
            img(src="/images/icons/user-x.svg", alt="delete friend")

    .post-container
      each post in profile.posts 
        include _postContainer

      - if(profile.posts.length === 0)
        h1.heading-secondary.no-posts-message= `${profile.name.split(' ')[0]} has not posted anything yet!`